.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-add-to-cart {
    transition: background-color 0.3s ease;
}

.btn-add-to-cart:hover {
    background-color: #9dd5fa;
}